.app {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.game {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;

}

.game div {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 5px;
}

h2 {
  font-family: "Cooper Black";
  font-size: 20px;
}
